<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="../../public/css/createstyle.css" />
<%- include('partials/sidebar.ejs') %>
<section id="content">
  <!-- Navbar -->

  <!-- Navbar -->

  <!-- Navbar -->
  <!-- main -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Add Product</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>

          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a>Inventory</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">WIP</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- table -->
    <br />
    <div class="card p-4 border-light border-radius">
      <div class="card-body" x-data="{items: JSON.parse('<%= result %>'), id: ''} ">
        <form action="create/add" method="post">
          <div hidden>
            <input required name="product[0][productId]" :value="id" />
          </div>
          <div class="row mb-3">
            <label for="inputProduct" class="col-sm-2 col-form-label">Product Name</label>

            <select required class="form-select" @change="id = $event.target.value">
              <option value="">-</option>
              <template x-for="(item, index) in items ">
                <template x-for="(itm, index) in item">
                  <option :value="itm['productId']" :key="index" name="product[0][productId]">
                    <span x-text="itm['productName']"></span>
                  </option> </template
                >>
              </template>
            </select>
          </div>
          <div class="row mb-3">
            <label for="inputProductPrice" class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
              <input required name="product[0][quantity]" type="text" class="form-control" placeholder="123..." />
            </div>
          </div>

          <button class="btn btn-primary">Submit</button>
          <a class="btn btn-danger" type="a" href="/inventory/wip">Back</a>
        </form>
      </div>
    </div>
  </main>
</section>
<script src="../../public/js/create-purchase.js"></script>
<%- include('partials/footer.ejs') %>
