<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="../../public/css/Indexstyle.css" />
<%- include('partials/sidebar.ejs') %>
<section id="content">
  <!-- Navbar -->

  <!-- Navbar -->
  <!-- main -->
  <main>
    <div class="container">
      <div class="left">
        <div class="card" x-data="{product: JSON.parse('<%= result %>')}">
          <div class="card-header"><h2 style="text-align: center">Products</h2></div>

          <div class="card-body">
            <form action="detail/update" method="post">
              <div class="row mb-3">
                <label for="inputProductName" class="col-sm-2 col-form-label">Product Id</label>
                <div class="col-sm-10">
                  <input
                    readonly
                    type="text"
                    class="form-control"
                    id="product-name"
                    name="product[0][productId]"
                    :value="product[0]['productId']"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputProductName" class="col-sm-2 col-form-label">Product Name</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="product-name"
                    name="product[0][productName]"
                    :value="product[0]['productName']"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputProductPrice" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    :value="product[0]['productStock']"
                    name="product[0][productStock]"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputProductPrice" class="col-sm-2 col-form-label">Unit Price</label>
                <div class="col-sm-10">
                  <input
                    min="1"
                    type="number"
                    class="form-control"
                    :value="product[0]['productPrice']"
                    name="product[0][productPrice]"
                  />
                </div>
              </div>
              <br />

              <div>
                <button class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" href="/inventory/product">Back</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
<script src="../../public/js/number-formater.js"></script>
<%- include('partials/footer.ejs') %>
