<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="../../public/css/inventorystyle.css" />
<%- include('partials/sidebar.ejs') %>
<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu"></i>
    <form action="#"></form>
    <p class="switch-mode">Welcome Admin <i class="bx bx-wink-smile"></i></p>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Inventory Material</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Inventory Material</a>
          </li>
        </ul>
      </div>
    </div>
    <br />

    <div class="table-data">
      <div class="order">
        <h2 style="text-align: center">Materials</h2>

        <br />

        <a
          class="btn mb-3"
          href="create-material"
          style="color: white; background-color: #3c91e6; border: none; border-radius: 5px"
        >
          Add Material
        </a>

        <table id="barangTable" x-data="{material: JSON.parse('<%= result %>')}">
          <thead>
            <tr>
              <th>No</th>
              <th>Material Id</th>
              <th>Material Name</th>
              <th>Stock</th>
              <th>Unit Measure</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <template x-for="(materials, index) in material"
              ><tr>
                <td x-text="index + 1"></td>
                <td x-text="materials['rawMaterialId']"></td>
                <td x-text="materials['rawMaterialName']"></td>
                <td x-text="materials['rawMaterialStock']"></td>
                <td x-text="materials['unit']"></td>
                <td>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                  </button>

                  <!-- Modal -->
                  <div
                    class="modal fade ml-3"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><strong>Confirmation</strong></h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Are You Sure to Delete this Item ?</p>
                          <strong style="color: red">Deleted Data will not able to be recover</strong>
                        </div>
                        <div class="modal-footer">
                          <div>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a x-bind:href="`material/delete?id=` + `${materials['rawMaterialId']}`"
                              ><button class="btn btn-danger">Yes</button></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a x-bind:href="`material/detail?id=` + `${materials['rawMaterialId']}`"
                    ><button class="btn btn-primary">Edit</button></a
                  >
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<%- include('partials/footer.ejs') %> ```
