<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="../../public/css/Indexstyle.css" />
<%- include('partials/sidebar.ejs') %>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Sales</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Sales</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="table-data" x-data="{invoice: JSON.parse('<%= result %>')}">
      <div class="order">
        <div class="head">
          <h2 style="text-align: center">Sales Invoice</h2>
          <a
            class="btn button-primary mb-3"
            href="sales/create"
            style="color: white; background-color: #3c91e6; border: none; border-radius: 5px"
            >Create Invoice
          </a>
          <table id="data-table">
            <thead>
              <tr>
                <th>Sales Id</th>
                <th>Sales Date</th>
                <th>Total (Rp)</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <template x-for="(listInvoice, index) in invoice">
                <tr x-data="id: listInvoice['salesId']">
                  <td x-text="listInvoice['salesId']"></td>
                  <td x-text="dateFormatter(listInvoice['salesDate'])"></td>
                  <td x-text="addCommas(listInvoice['amountSold'])"></td>

                  <td>
                    <!-- Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Delete
                    </button>

                    <!-- Modal -->
                    <div
                      class="modal fade ml-3"
                      id="exampleModal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><strong>Confirmation</strong></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Are You Sure to Delete this Invoice ?</p>
                            <strong style="color: red">Deleted Data will not able to be recover</strong>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger">Yes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a x-bind:href="`sales/detail?id=` + `${listInvoice['salesId']}`" class="btn btn-primary">View</a>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<!-- <script src="../../public/js/Sales.js"></script> -->
<script src="../../public/js/date-format.js"></script>
<script src="../../public/js/number-formater.js"></script>

<%- include('partials/footer.ejs') %> ```
